@import "../../App.css";

.navBar{
    overflow-x: hidden;
}

.navTop{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed !important;
    box-shadow: -1px 0px 3px -1px rgb(100,100,100);
    z-index: 999;

}

.spaceNavBar{
    flex: 1;
}
.logoLink{
    text-decoration: none;
    margin-left: 5%;
    display: inline;
    width: 200px;
}
.logo{
    margin-left: 10%;
    font-size: 1.7rem;
    font-style: oblique;
    cursor: pointer;
    color:rgba(0, 0, 0, 0.7)

}


.storeIcon{
    margin-right: 10%;
    cursor: pointer;
    transition: 0.2s;
    color:rgba(0, 0, 0, 0.7);
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 0.5rem;
    width: 40px !important;
    height: 40px !important;
}

.storeIcon:hover{
    color : blue;
}

.navbutton{
    margin-bottom: 0;
    position: fixed !important;
    margin-top: 93.3vh;
    margin-bottom: 0 !important;
    height: 10vh;
    width: 100%;
    opacity: 0;
    box-shadow: -1px 0px 3px -1px rgb(100,100,100);
    z-index: 999;
}

.navButtonIcons{
    display: flex;
    width:100% !important;
}

.linkTopNav{
    padding-right:1rem;
    padding-left: 1rem;
}

@media (max-width : 500px){
    .storeIcon{
        opacity: 0;
    }

    .navbutton{
        opacity: 1;
    }
}

