.productList {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 800px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
    .productList {
      grid-template-columns: repeat(1, 1fr);
    }
  }
